.race-field{
  display: flex;
  justify-content: center;
}

.race-card{
  padding: 20px;
  width: 75%;
  margin-top: 20px;
  background-color: #F5E6C9;
}

.card-content {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 18px;
  color: #34272E;
}

.new-element-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 75%;
  margin-top: 20px;
  background-color: #F5E6C9;
}

.new-race{
  color: #34272E;
  font-weight: 500;
  font-size: 20px;
}

